.header {
  background-image: url(https://images.unsplash.com/photo-1494587351196-bbf5f29cff42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #2196F3;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 10px;
  padding-top: 25px;
}

.searchTerm {
  width: 100%;
  border: 1px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 36px;
  outline: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  font-size: 11px;
  border-radius: 30px 0 0 30px;
  letter-spacing: 2px;
}

.searchTerm::placeholder {
  color: #ffffff;
}

.searchTerm:focus {
  color: #ffffff;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffffff;
  border-left: none;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  padding-right: 5px;
  outline: none;
  border-radius: 0 30px 30px 0;
}

.searchButton:hover i{
  color: #2196F3;
}