.sidebar {
    background: linear-gradient(90deg, #3F51B5, #2196F3);
}

.sidebar img {
    width: 130px;
    height: 130px;
    border: 2px solid #fcfcfc;
    border-radius: 100%;
    margin-left: 40px;
    margin-bottom: 30px;
    box-shadow: 0 0 4px #dddddd;
}

.sidebar__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    padding: 30px 20% 30px 20%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

.flex__sidebar1 {
    position: absolute;
    bottom: 85px;
    border-top: 2px solid #ffffff;
    text-align: left;
}

.flex__sidebar2 {
    position: absolute;
    bottom: 50px;
}

.sidebar__box a {
    margin-top: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 12px;
}

.sidebar__box a:hover {
    color: #2196F3;
    transition-duration: .2s;
    cursor: pointer;
}

.sidebar__box a:hover span {
    color: #2196F3;
}

.sidebar__box a:hover i {
    color: #2196F3;
}

.sidebar__box a.active {
    color: #2196F3;
    border-left: 3px solid #2196F3;
    padding-left: 12px;
    margin-left: 0;
}

.sidebar__box a.active span {
    color: #2196F3;
}

.sidebar__box a.active i {
    color: #2196F3;
}

.sidebar span {
    color: #ffffff;
    margin-left: 10px;
}

.sidebar h3 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #ffffff;
    border: none;
}

.UserName {
    display: flex;border-bottom: #ffffff 2px solid;margin-bottom: 30px;
}

.UserName i {
    font-size: 20px;
    margin-right: 10px;
}

.flex__sidebar1 {
    padding-top: 20px;
}